.my-cdk-drag-drop {
  position: absolute;
  left: 100px;
  margin: 15px;
  width: 300px;
  border-radius: 5px;
  background: linear-gradient(0deg, #000, #00008B);
  cursor: move;
  opacity: .6;
  z-index: 1;
  border: 1px solid #63cdff;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.drop-menu {
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, #000, #00008B);
  border: 1px solid #00008B;
  box-shadow: 0 0 0 1px #13b3ff, 0 0 0 2px #13b3ff
  , inset 0px 0px 10px #13b3ff, 0px 0px 20px #20b7ff, 0px 0px 15px #6dd1ff;
  padding: 0;
  margin: 0;

  .mat-icon-button {
    border-radius: 5px;
    transform: scale(0.6);
    border: 1px solid #63cdff;
    color: #63cdff;
    text-shadow: 0 0 0 1px #13b3ff, 0 0 0 2px #13b3ff;
  }
}
