<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="my-toggle-group">
  <mat-button-toggle-group #group="matButtonToggleGroup"
                           [value]="value"
                           [multiple]="multiple"
                           [vertical]="vertical"
                           (change)="onChange(group.value)"
                           (click) = "onClick(group)">
    <mat-button-toggle *ngFor="let value of values" value={{value}}>
      {{value}}
    </mat-button-toggle>
    <mat-button-toggle *ngFor="let value of icons" value={{value}}>
      <mat-icon>{{value}}</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
