@import "../../../styles.scss";

.chart_div {
  height: 100%;
  position: absolute;
  width: 100%;
}

.header_div{
  width: 30%;
  display: inline-flex;
}

.select_indicator_div{
  width: 2%;
}

::ng-deep .select_indicators_div{
  width: 2%;

  .mat-button-toggle-group {
    max-height: 360px;
    overflow: auto;
  }
}

