<div class="chart_div" #container></div>
<div class="header_div">
  <app-toggle-button
    [values]="listTypeCharts"
    [value]="selectedCandleType"
    (change)="onCandleTypeChange($event)">
  </app-toggle-button>
  <app-date-time-picker [date]="startDate" (onSelect)="onDateBeginSelect($event)" ></app-date-time-picker>
  <app-date-time-picker [date]="dateEnd" (onSelect)="onDateEndSelect($event)" ></app-date-time-picker>
  <app-toggle-button
    [icons]="repeatLoadIcon"
    [switchOff]="true"
    (change)="onClickRepeatLoad()">
  </app-toggle-button>
  <app-autocomplete
    [stateGroups]="classList"
    [value]="selectedSecClass"
    (onChange)="onClassChange($event)"></app-autocomplete>
</div>

<div class="select_indicator_div">
  <app-toggle-button
    [values]="listIndicators2"
    [vertical]="true"
    [switchOff]="true"
    (change)="onSelectIndicator($event)">
  </app-toggle-button>
</div>

<div class="select_indicators_div">
  <app-toggle-button
    [values]="listIndicators"
    [labels]="indicatorLabels"
    [vertical]="true"
    [switchOff]="true"
    [multiple]="true"
    (change)="onSelectIndicators($event)">
  </app-toggle-button>
</div>
