<div class="table-container" [ngStyle]="{'height.px': height}">
  <table mat-table [dataSource]="dataSource" class="my-table">
    <ng-container matColumnDef="bid-change">
      <td mat-cell *matCellDef="let element"> {{getDiv(element.bid.candle.close - element.bid.candle.open)}} </td>
    </ng-container>
    <ng-container matColumnDef="bid-close">
      <td mat-cell *matCellDef="let element"> {{getValue(element.bid.candle.close)}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="offer-change">
      <td mat-cell *matCellDef="let element"> {{getDiv(element.offer.candle.close - element.offer.candle.open)}} </td>
    </ng-container>
    <ng-container matColumnDef="offer-close">
      <td mat-cell *matCellDef="let element"> {{getValue(element.offer.candle.close)}} </td>
    </ng-container>
    <ng-container matColumnDef="volume">
      <td mat-cell *matCellDef="let element"> {{element.offer.closeVolume > 0 ? element.offer.closeVolume : element.bid.closeVolume}} </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
